<h1>All Deaths per CDC Data</h1>
<div><small>This data was pulled directly from a CDC dataset that reflects covid-19 deaths and other select causes.  The numbers do not match total deaths exactly but the increase in deaths is still striking</small></div>
<div>
  <table class="pure-table">
    <thead>
      <tr>
        <th>Year</th>
        <th>Total</th>
        <th>Increase over prev. year</th>
        <th>% Increase over prev year</th>
      </tr>
    </thead>
    <tbody>
      <% @totals_data.each do |data| %>
      <tr>
        <td><%= data.year %></td>
        <td><%= number_with_delimiter(data.total) %></td>
        <td><%= number_with_delimiter(data.num_increase) %></td>
        <td><%= number_to_percentage(data.percent_increase * 100) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <table class="pure-table">
    <thead>
      <tr>
        <th>Year</th>
        <th>All Cause</th>
        <th>Influenza/Pneumonia</th>
        <th>Heart Disease</th>
        <th>Cancer</th>
        <th>Covid, Multiple Causes</th>
        <th>Covid, underlying cause</th>
      </tr>
    <thead>
    <tbody>
        <% @by_cause_data.each do |cause| %>
          <tr>
            <td><%= cause.year %></td>
            <td><%= cause.all %></td>
            <td><%= cause.flu %></td>
            <td><%= cause.heart %></td>
            <td><%= cause.cancer %></td>
            <td><%= cause.cov_multiple %></td>
            <td><%= cause.cov_underlying %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
<div>
  <div id="chartData" data-weeks='<%= @weeks.join(",") %>' 
                      data-weeklyTotals='<%= @weekly_totals.to_json %>'></div>
  <canvas id="lineChart"></canvas>
</div>
<%= javascript_pack_tag 'home' %>
